In [94]:
import numpy as np
import pandas as pd

In [131]:
#1 Load the Dataset with appropriate functions
df = pd.read_csv('Car_data.csv')
df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
0,Acura,Honda,40000,36385,37382,39046,44572.0,28531,27458,39664,25681.0
1,Alfa Romeo,Fiat Chrysler,50000,4286,4751,4310,4947.0,3702,3735,5056,0.0
2,Audi,Audi,59017,48115,53325,57031,65640.0,41371,34839,47896,0.0
3,Bentley,VW,211000,2385,2385,2385,0.0,2499,2499,2499,0.0
4,BMW,BMW,69000,73888,82551,75987,92399.0,62152,50956,68439,0.0
5,Bugatti,VW,2400000,21,21,21,NaN,19,19,19,NaN
6,Buick,GM,33000,51865,55373,50614,49074.0,33870,35521,49170,0.0
7,Cadillac,GM,54000,35996,39739,39962,40553.0,30323,23297,32966,0.0
8,Chevrolet,GM,33000,451742,486884,505913,497500.0,429529,330381,449134,0.0
9,Chrysler,Fiat Chrysler,32000,31591,32831,29544,33006.0,29945,13857,31869,0.0
10,Dodge,Fiat Chrysler,29000,110517,117582,104146,90643.0,88656,43756,71935,0.0
11,Ferrari,Ferrari,300000,2585,2585,2585,NaN,2147,2147,2147,NaN
12,Fiat,Fiat Chrysler,26000,2214,2889,2361,1740.0,1128,1339,1102,0.0
13,Ford,Ford,32000,557884,613098,548070,565373.0,489051,411035,521530,312199.0
14,Genesis,Hyundai,49000,4203,5805,4902,6327.0,3955,3585,3745,1989.0
15,GMC,GM,35000,125579,151701,140790,146880.0,118718,101759,132746,0.0
16,Honda,Honda,28000,333402,370026,390168,357389.0,270253,266044,338769,203920.0
17,Hyundai,Hyundai,30000,147585,185743,173028,182415.0,130875,139378,170828,112566.0
18,Infiniti,Nissan,45000,34315,28743,24876,29774.0,25556,16097,17368,0.0
19,Jaguar,TaTa,52000,10222,6060,6150,8573.0,7266,4320,4700,0.0
20,Jeep,Fiat Chrysler,30000,212804,243477,245474,221537.0,182667,176713,222211,0.0
21,Kia,Kia,30000,136596,168248,158754,151015.0,137945,125302,165013,103981.0
22,Lamborghini,Audi,300000,2172,2172,2172,NaN,1877,1877,1877,NaN
23,Land Rover,TaTa,59000,25028,21095,20516,28097.0,21936,14500,15899,0.0
24,Lexus,Toyota,56000,66791,68944,73816,88561.0,56345,50458,75285,54731.0
25,Lincoln,Ford,52000,24874,25941,27937,33355.0,25562,21280,27555,18437.0
26,Maserati,Fiat Chrysler,80000,6433,6433,6433,6433.0,3967,3967,3967,0.0
27,Mazda,Mazda,25000,70831,67722,69612,70385.0,67670,61199,74411,44488.0
28,McLaren,McLaren,250000,1102,1102,1102,0.0,299,299,299,0.0
29,Mercedes-Benz,Daimler,58000,78667,80463,89636,103363.0,75265,69505,84628,0.0
30,Mini,BMW,28000,8905,8678,10243,8339.0,5236,5288,8974,0.0
31,Mitsubishi,Mitsubishi,22000,42070,29030,24474,25475.0,35563,12197,24857,0.0
32,Nissan,Nissan,30000,331536,322442,302478,271517.0,232048,161317,221754,0.0
33,Porsche,Porsche,73000,15024,15233,14805,16506.0,11984,12193,15548,0.0
34,Ram,Fiat Chrysler,34000,137013,196155,179200,190655.0,140486,127682,175174,0.0
35,Subaru,Subaru,31000,156754,182771,185804,174788.0,130591,136519,169446,111824.0
36,Tesla,Tesla,60000,30600,53300,54700,56525.0,52800,36800,139300,0.0
37,Toyota,Toyota,34000,476925,539448,553378,515455.0,439402,347571,483164,356383.0
38,Volkswagen,VW,30000,85872,98736,93547,85167.0,75065,69933,84514,0.0
39,Volvo,Volvo,50000,22058,28062,27305,30802.0,19485,23770,30349,22282.0

**interpretation**:
    - In this above code we can see the loaded dataset with appropriate function

In [59]:
#2 How can you display the first and last 5 rows of the dataset
print('first and last 5 row:')
print(pd.concat([df.head(),df.tail()]))

first and last 5 row:
         Brand      Autogroup  Avg Price  Q1 2019  Q2 2019  Q3 2019   Q4 2019  \
0        Acura          Honda      40000    36385    37382    39046   44572.0
1   Alfa Romeo  Fiat Chrysler      50000     4286     4751     4310    4947.0
2         Audi           Audi      59017    48115    53325    57031   65640.0
3      Bentley             VW     211000     2385     2385     2385       0.0
4          BMW            BMW      69000    73888    82551    75987   92399.0
35      Subaru         Subaru      31000   156754   182771   185804  174788.0
36       Tesla          Tesla      60000    30600    53300    54700   56525.0
37      Toyota         Toyota      34000   476925   539448   553378  515455.0
38  Volkswagen             VW      30000    85872    98736    93547   85167.0
39       Volvo          Volvo      50000    22058    28062    27305   30802.0

    Q1 2020  Q2 2020  Q3 2020   Q4 2020
0     28531    27458    39664   25681.0
1      3702     3735     5056       0.0
2     41371    34839    47896       0.0
3      2499     2499     2499       0.0
4     62152    50956    68439       0.0
35   130591   136519   169446  111824.0
36    52800    36800   139300       0.0
37   439402   347571   483164  356383.0
38    75065    69933    84514       0.0
39    19485    23770    30349   22282.0

**Interpretation:**
    
    -In the above code we can see the head portion of the data
    -As well as the tail end of the data for the user references

In [61]:
# 3 nclude with their basic info’s (Mandatory)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Brand      40 non-null     object
 1   Autogroup  40 non-null     object
 2   Avg Price  40 non-null     int64
 3   Q1 2019    40 non-null     int64
 4   Q2 2019    40 non-null     int64
 5   Q3 2019    40 non-null     int64
 6   Q4 2019    37 non-null     float64
 7   Q1 2020    40 non-null     int64
 8   Q2 2020    40 non-null     int64
 9   Q3 2020    40 non-null     int64
 10  Q4 2020    37 non-null     float64
dtypes: float64(2), int64(7), object(2)
memory usage: 3.6+ KB

**Interpretation**

    -In this above code, we can see the basic info's of the dataset

In [63]:
# 4 Give five point summary of the dataset
# only numerical values
df.describe()

,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
count,4.000000e+01,40.000000,40.000000,40.000000,37.000000,40.000000,40.000000,40.000000,37.000000
mean,1.234754e+05,99920.875000,110973.150000,108581.875000,116075.135135,87893.475000,74259.800000,100395.175000,36985.972973
std,3.757896e+05,140033.933289,154610.390707,151629.744369,148739.386877,123806.203859,103094.516286,135605.979722,84641.093248
min,2.200000e+04,21.000000,21.000000,21.000000,0.000000,19.000000,19.000000,19.000000,0.000000
25%,3.000000e+04,9892.750000,8116.750000,9290.500000,25475.000000,6758.500000,5046.000000,7994.500000,0.000000
50%,4.250000e+04,39227.500000,46519.500000,45288.000000,56525.000000,34716.500000,31148.500000,43780.000000,0.000000
75%,5.900425e+04,128333.250000,155837.750000,145281.000000,151015.000000,121686.250000,107644.750000,145728.250000,22282.000000
max,2.400000e+06,557884.000000,613098.000000,553378.000000,565373.000000,489051.000000,411035.000000,521530.000000,356383.000000

**interpretation**

 - In this above code, we can see the description of the dataset.

In [65]:
#5 How can you calculate the total sales for each brand across all quarters
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Brand').agg({2019:'sum',2020:'sum'})

                    2019       2020
Brand
Acura           157385.0   121334.0
Alfa Romeo       18294.0    12493.0
Audi            224111.0   124106.0
BMW             324825.0   181547.0
Bentley           7155.0     7497.0
Bugatti              0.0        0.0
Buick           206926.0   118561.0
Cadillac        156250.0    86586.0
Chevrolet      1942039.0  1209044.0
Chrysler        126972.0    75671.0
Dodge           422888.0   204347.0
Ferrari              0.0        0.0
Fiat              9204.0     3569.0
Ford           2284425.0  1733815.0
GMC             564950.0   353223.0
Genesis          21237.0    13274.0
Honda          1450985.0  1078986.0
Hyundai         688771.0   553647.0
Infiniti        117708.0    59021.0
Jaguar           31005.0    16286.0
Jeep            923292.0   581591.0
Kia             614613.0   532241.0
Lamborghini          0.0        0.0
Land Rover       94736.0    52335.0
Lexus           298112.0   236819.0
Lincoln         112107.0    92834.0
Maserati         25732.0    11901.0
Mazda           278550.0   247768.0
McLaren           3306.0      897.0
Mercedes-Benz   352129.0   229398.0
Mini             36165.0    19498.0
Mitsubishi      121049.0    72617.0
Nissan         1227973.0   615119.0
Porsche          61568.0    39725.0
Ram             703023.0   443342.0
Subaru          700117.0   548380.0
Tesla           195125.0   228900.0
Toyota         2085206.0  1626520.0
Volkswagen      363322.0   229512.0
Volvo           108227.0    95886.0

**Interpretation**:
   
    - In this above code, we can see the Brand and the total sales for all quarters

In [67]:
# 6 How can you filter the DataFrame to show only the rows where the Q1 Sales are greater than 10,000
df[df['Q1 2019']>10000]

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020,2019,2020
0,Acura,Honda,40000,36385,37382,39046,44572.0,28531,27458,39664,25681.0,157385.0,121334.0
2,Audi,Audi,59017,48115,53325,57031,65640.0,41371,34839,47896,0.0,224111.0,124106.0
4,BMW,BMW,69000,73888,82551,75987,92399.0,62152,50956,68439,0.0,324825.0,181547.0
6,Buick,GM,33000,51865,55373,50614,49074.0,33870,35521,49170,0.0,206926.0,118561.0
7,Cadillac,GM,54000,35996,39739,39962,40553.0,30323,23297,32966,0.0,156250.0,86586.0
8,Chevrolet,GM,33000,451742,486884,505913,497500.0,429529,330381,449134,0.0,1942039.0,1209044.0
9,Chrysler,Fiat Chrysler,32000,31591,32831,29544,33006.0,29945,13857,31869,0.0,126972.0,75671.0
10,Dodge,Fiat Chrysler,29000,110517,117582,104146,90643.0,88656,43756,71935,0.0,422888.0,204347.0
13,Ford,Ford,32000,557884,613098,548070,565373.0,489051,411035,521530,312199.0,2284425.0,1733815.0
15,GMC,GM,35000,125579,151701,140790,146880.0,118718,101759,132746,0.0,564950.0,353223.0
16,Honda,Honda,28000,333402,370026,390168,357389.0,270253,266044,338769,203920.0,1450985.0,1078986.0
17,Hyundai,Hyundai,30000,147585,185743,173028,182415.0,130875,139378,170828,112566.0,688771.0,553647.0
18,Infiniti,Nissan,45000,34315,28743,24876,29774.0,25556,16097,17368,0.0,117708.0,59021.0
19,Jaguar,TaTa,52000,10222,6060,6150,8573.0,7266,4320,4700,0.0,31005.0,16286.0
20,Jeep,Fiat Chrysler,30000,212804,243477,245474,221537.0,182667,176713,222211,0.0,923292.0,581591.0
21,Kia,Kia,30000,136596,168248,158754,151015.0,137945,125302,165013,103981.0,614613.0,532241.0
23,Land Rover,TaTa,59000,25028,21095,20516,28097.0,21936,14500,15899,0.0,94736.0,52335.0
24,Lexus,Toyota,56000,66791,68944,73816,88561.0,56345,50458,75285,54731.0,298112.0,236819.0
25,Lincoln,Ford,52000,24874,25941,27937,33355.0,25562,21280,27555,18437.0,112107.0,92834.0
27,Mazda,Mazda,25000,70831,67722,69612,70385.0,67670,61199,74411,44488.0,278550.0,247768.0
29,Mercedes-Benz,Daimler,58000,78667,80463,89636,103363.0,75265,69505,84628,0.0,352129.0,229398.0
31,Mitsubishi,Mitsubishi,22000,42070,29030,24474,25475.0,35563,12197,24857,0.0,121049.0,72617.0
32,Nissan,Nissan,30000,331536,322442,302478,271517.0,232048,161317,221754,0.0,1227973.0,615119.0
33,Porsche,Porsche,73000,15024,15233,14805,16506.0,11984,12193,15548,0.0,61568.0,39725.0
34,Ram,Fiat Chrysler,34000,137013,196155,179200,190655.0,140486,127682,175174,0.0,703023.0,443342.0
35,Subaru,Subaru,31000,156754,182771,185804,174788.0,130591,136519,169446,111824.0,700117.0,548380.0
36,Tesla,Tesla,60000,30600,53300,54700,56525.0,52800,36800,139300,0.0,195125.0,228900.0
37,Toyota,Toyota,34000,476925,539448,553378,515455.0,439402,347571,483164,356383.0,2085206.0,1626520.0
38,Volkswagen,VW,30000,85872,98736,93547,85167.0,75065,69933,84514,0.0,363322.0,229512.0
39,Volvo,Volvo,50000,22058,28062,27305,30802.0,19485,23770,30349,22282.0,108227.0,95886.0

**Interpretation**:

      -In this above code, we can see the filtered dataset for Q1 sales where the Q1 sales are greater than 10000

In [69]:
# 7 How can you group the data by “AUTOGROUP”and calculate the total sales for each group
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Autogroup').agg({2019:'sum',2020:'sum'})

                    2019       2020
Autogroup
Audi            224111.0   124106.0
BMW             360990.0   201045.0
Daimler         352129.0   229398.0
Ferrari              0.0        0.0
Fiat Chrysler  2229405.0  1332914.0
Ford           2396532.0  1826649.0
GM             2870165.0  1767414.0
Honda          1608370.0  1200320.0
Hyundai         710008.0   566921.0
Kia             614613.0   532241.0
Mazda           278550.0   247768.0
McLaren           3306.0      897.0
Mitsubishi      121049.0    72617.0
Nissan         1345681.0   674140.0
Porsche          61568.0    39725.0
Subaru          700117.0   548380.0
TaTa            125741.0    68621.0
Tesla           195125.0   228900.0
Toyota         2383318.0  1863339.0
VW              370477.0   237009.0
Volvo           108227.0    95886.0

**Interpretation**:

      -In this above code, we can see the Autogroup and the total sales for each group

In [71]:
# 8 How can you find the brand with the highest total sale
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Brand').agg({2019:'max',2020:'max'})

                    2019       2020
Brand
Acura           157385.0   121334.0
Alfa Romeo       18294.0    12493.0
Audi            224111.0   124106.0
BMW             324825.0   181547.0
Bentley           7155.0     7497.0
Bugatti              NaN        NaN
Buick           206926.0   118561.0
Cadillac        156250.0    86586.0
Chevrolet      1942039.0  1209044.0
Chrysler        126972.0    75671.0
Dodge           422888.0   204347.0
Ferrari              NaN        NaN
Fiat              9204.0     3569.0
Ford           2284425.0  1733815.0
GMC             564950.0   353223.0
Genesis          21237.0    13274.0
Honda          1450985.0  1078986.0
Hyundai         688771.0   553647.0
Infiniti        117708.0    59021.0
Jaguar           31005.0    16286.0
Jeep            923292.0   581591.0
Kia             614613.0   532241.0
Lamborghini          NaN        NaN
Land Rover       94736.0    52335.0
Lexus           298112.0   236819.0
Lincoln         112107.0    92834.0
Maserati         25732.0    11901.0
Mazda           278550.0   247768.0
McLaren           3306.0      897.0
Mercedes-Benz   352129.0   229398.0
Mini             36165.0    19498.0
Mitsubishi      121049.0    72617.0
Nissan         1227973.0   615119.0
Porsche          61568.0    39725.0
Ram             703023.0   443342.0
Subaru          700117.0   548380.0
Tesla           195125.0   228900.0
Toyota         2085206.0  1626520.0
Volkswagen      363322.0   229512.0
Volvo           108227.0    95886.0

**Interpretation**:

      - In this above code, we can see the brand with the maximum total sales

In [73]:
# 9 How can you add a new column that calculates the average quarterly sales for each brand
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Brand').agg({2019:'mean',2020:'mean'})

                    2019       2020
Brand
Acura           157385.0   121334.0
Alfa Romeo       18294.0    12493.0
Audi            224111.0   124106.0
BMW             324825.0   181547.0
Bentley           7155.0     7497.0
Bugatti              NaN        NaN
Buick           206926.0   118561.0
Cadillac        156250.0    86586.0
Chevrolet      1942039.0  1209044.0
Chrysler        126972.0    75671.0
Dodge           422888.0   204347.0
Ferrari              NaN        NaN
Fiat              9204.0     3569.0
Ford           2284425.0  1733815.0
GMC             564950.0   353223.0
Genesis          21237.0    13274.0
Honda          1450985.0  1078986.0
Hyundai         688771.0   553647.0
Infiniti        117708.0    59021.0
Jaguar           31005.0    16286.0
Jeep            923292.0   581591.0
Kia             614613.0   532241.0
Lamborghini          NaN        NaN
Land Rover       94736.0    52335.0
Lexus           298112.0   236819.0
Lincoln         112107.0    92834.0
Maserati         25732.0    11901.0
Mazda           278550.0   247768.0
McLaren           3306.0      897.0
Mercedes-Benz   352129.0   229398.0
Mini             36165.0    19498.0
Mitsubishi      121049.0    72617.0
Nissan         1227973.0   615119.0
Porsche          61568.0    39725.0
Ram             703023.0   443342.0
Subaru          700117.0   548380.0
Tesla           195125.0   228900.0
Toyota         2085206.0  1626520.0
Volkswagen      363322.0   229512.0
Volvo           108227.0    95886.0

**Interpretation**:

    -In this above code we can see the average quarterly sales for each brand

In [75]:
# 10 How can you sort the DataFrame by total sales in descending order
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Brand').agg({2019:'sum',2020:'sum'}).sort_values(by = 2019,ascending = False)

                    2019       2020
Brand
Ford           2284425.0  1733815.0
Toyota         2085206.0  1626520.0
Chevrolet      1942039.0  1209044.0
Honda          1450985.0  1078986.0
Nissan         1227973.0   615119.0
Jeep            923292.0   581591.0
Ram             703023.0   443342.0
Subaru          700117.0   548380.0
Hyundai         688771.0   553647.0
Kia             614613.0   532241.0
GMC             564950.0   353223.0
Dodge           422888.0   204347.0
Volkswagen      363322.0   229512.0
Mercedes-Benz   352129.0   229398.0
BMW             324825.0   181547.0
Lexus           298112.0   236819.0
Mazda           278550.0   247768.0
Audi            224111.0   124106.0
Buick           206926.0   118561.0
Tesla           195125.0   228900.0
Acura           157385.0   121334.0
Cadillac        156250.0    86586.0
Chrysler        126972.0    75671.0
Mitsubishi      121049.0    72617.0
Infiniti        117708.0    59021.0
Lincoln         112107.0    92834.0
Volvo           108227.0    95886.0
Land Rover       94736.0    52335.0
Porsche          61568.0    39725.0
Mini             36165.0    19498.0
Jaguar           31005.0    16286.0
Maserati         25732.0    11901.0
Genesis          21237.0    13274.0
Alfa Romeo       18294.0    12493.0
Fiat              9204.0     3569.0
Bentley           7155.0     7497.0
McLaren           3306.0      897.0
Lamborghini          0.0        0.0
Ferrari              0.0        0.0
Bugatti              0.0        0.0

**Interpretation**:

      - In this above code, we can see the sorted dataframe by total sales in descending order

In [77]:
# 11 How can you find the average sales for each quarter across all brands
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Brand').agg({2019:'mean',2020:'mean'})

                    2019       2020
Brand
Acura           157385.0   121334.0
Alfa Romeo       18294.0    12493.0
Audi            224111.0   124106.0
BMW             324825.0   181547.0
Bentley           7155.0     7497.0
Bugatti              NaN        NaN
Buick           206926.0   118561.0
Cadillac        156250.0    86586.0
Chevrolet      1942039.0  1209044.0
Chrysler        126972.0    75671.0
Dodge           422888.0   204347.0
Ferrari              NaN        NaN
Fiat              9204.0     3569.0
Ford           2284425.0  1733815.0
GMC             564950.0   353223.0
Genesis          21237.0    13274.0
Honda          1450985.0  1078986.0
Hyundai         688771.0   553647.0
Infiniti        117708.0    59021.0
Jaguar           31005.0    16286.0
Jeep            923292.0   581591.0
Kia             614613.0   532241.0
Lamborghini          NaN        NaN
Land Rover       94736.0    52335.0
Lexus           298112.0   236819.0
Lincoln         112107.0    92834.0
Maserati         25732.0    11901.0
Mazda           278550.0   247768.0
McLaren           3306.0      897.0
Mercedes-Benz   352129.0   229398.0
Mini             36165.0    19498.0
Mitsubishi      121049.0    72617.0
Nissan         1227973.0   615119.0
Porsche          61568.0    39725.0
Ram             703023.0   443342.0
Subaru          700117.0   548380.0
Tesla           195125.0   228900.0
Toyota         2085206.0  1626520.0
Volkswagen      363322.0   229512.0
Volvo           108227.0    95886.0

**Interpretation**:

  - In this above code, we can see the average sales for each quarter across all brands

In [79]:
# 12 How can you find the total sales for each autogroup
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df.groupby('Autogroup').agg({2019:'sum',2020:'sum'})

                    2019       2020
Autogroup
Audi            224111.0   124106.0
BMW             360990.0   201045.0
Daimler         352129.0   229398.0
Ferrari              0.0        0.0
Fiat Chrysler  2229405.0  1332914.0
Ford           2396532.0  1826649.0
GM             2870165.0  1767414.0
Honda          1608370.0  1200320.0
Hyundai         710008.0   566921.0
Kia             614613.0   532241.0
Mazda           278550.0   247768.0
McLaren           3306.0      897.0
Mitsubishi      121049.0    72617.0
Nissan         1345681.0   674140.0
Porsche          61568.0    39725.0
Subaru          700117.0   548380.0
TaTa            125741.0    68621.0
Tesla           195125.0   228900.0
Toyota         2383318.0  1863339.0
VW              370477.0   237009.0
Volvo           108227.0    95886.0

**Interpretation**:

      - In this above code, we can see the each autogroup with the total sales

In [81]:
# 14 How can you calculate the percentage contribution of each quarter to the total sales for each brand
df['Total Sales'] = df.groupby('Brand')['Q1 2019'].transform('sum')
df['Q1 percentage contribution 2019'] = df['Q1 2019']/df['Total Sales']*100
df['Q2 percentage contribution 2019'] = df['Q2 2019']/df['Total Sales']*100
df['Q3 percentage contribution 2019'] = df['Q3 2019']/df['Total Sales']*100
df['Q4 percentage contribution 2019'] = df['Q4 2019']/df['Total Sales']*100
df
df['Total Sales'] = df.groupby('Brand')['Q1 2020'].transform('sum')
df['Q1 percentage contribution 2020'] = df['Q1 2020']/df['Total Sales']*100
df['Q2 percentage contribution 2020'] = df['Q2 2020']/df['Total Sales']*100
df['Q3 percentage contribution 2020'] = df['Q3 2020']/df['Total Sales']*100
df['Q4 percentage contribution 2020'] = df['Q4 2020']/df['Total Sales']*100
df

,Brand,Autogroup,Avg Price,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,...,2020,Total Sales,Q1 percentage contribution 2019,Q2 percentage contribution 2019,Q3 percentage contribution 2019,Q4 percentage contribution 2019,Q1 percentage contribution 2020,Q2 percentage contribution 2020,Q3 percentage contribution 2020,Q4 percentage contribution 2020
0,Acura,Honda,40000,36385,37382,39046,44572.0,28531,27458,39664,...,121334.0,28531,100.0,102.740140,107.313453,122.501031,100.0,96.239178,139.020714,90.010865
1,Alfa Romeo,Fiat Chrysler,50000,4286,4751,4310,4947.0,3702,3735,5056,...,12493.0,3702,100.0,110.849277,100.559963,115.422305,100.0,100.891410,136.574824,0.000000
2,Audi,Audi,59017,48115,53325,57031,65640.0,41371,34839,47896,...,124106.0,41371,100.0,110.828224,118.530604,136.423153,100.0,84.211162,115.771918,0.000000
3,Bentley,VW,211000,2385,2385,2385,0.0,2499,2499,2499,...,7497.0,2499,100.0,100.000000,100.000000,0.000000,100.0,100.000000,100.000000,0.000000
4,BMW,BMW,69000,73888,82551,75987,92399.0,62152,50956,68439,...,181547.0,62152,100.0,111.724502,102.840786,125.052783,100.0,81.986099,110.115523,0.000000
5,Bugatti,VW,2400000,21,21,21,NaN,19,19,19,...,NaN,19,100.0,100.000000,100.000000,NaN,100.0,100.000000,100.000000,NaN
6,Buick,GM,33000,51865,55373,50614,49074.0,33870,35521,49170,...,118561.0,33870,100.0,106.763713,97.587969,94.618722,100.0,104.874520,145.172719,0.000000
7,Cadillac,GM,54000,35996,39739,39962,40553.0,30323,23297,32966,...,86586.0,30323,100.0,110.398378,111.017891,112.659740,100.0,76.829469,108.716156,0.000000
8,Chevrolet,GM,33000,451742,486884,505913,497500.0,429529,330381,449134,...,1209044.0,429529,100.0,107.779219,111.991579,110.129233,100.0,76.917042,104.564302,0.000000
9,Chrysler,Fiat Chrysler,32000,31591,32831,29544,33006.0,29945,13857,31869,...,75671.0,29945,100.0,103.925169,93.520306,104.479124,100.0,46.274837,106.425113,0.000000
10,Dodge,Fiat Chrysler,29000,110517,117582,104146,90643.0,88656,43756,71935,...,204347.0,88656,100.0,106.392682,94.235276,82.017246,100.0,49.354810,81.139460,0.000000
11,Ferrari,Ferrari,300000,2585,2585,2585,NaN,2147,2147,2147,...,NaN,2147,100.0,100.000000,100.000000,NaN,100.0,100.000000,100.000000,NaN
12,Fiat,Fiat Chrysler,26000,2214,2889,2361,1740.0,1128,1339,1102,...,3569.0,1128,100.0,130.487805,106.639566,78.590786,100.0,118.705674,97.695035,0.000000
13,Ford,Ford,32000,557884,613098,548070,565373.0,489051,411035,521530,...,1733815.0,489051,100.0,109.897040,98.240853,101.342394,100.0,84.047472,106.641230,63.837718
14,Genesis,Hyundai,49000,4203,5805,4902,6327.0,3955,3585,3745,...,13274.0,3955,100.0,138.115632,116.630978,150.535332,100.0,90.644753,94.690265,50.290771
15,GMC,GM,35000,125579,151701,140790,146880.0,118718,101759,132746,...,353223.0,118718,100.0,120.801249,112.112694,116.962231,100.0,85.714887,111.816237,0.000000
16,Honda,Honda,28000,333402,370026,390168,357389.0,270253,266044,338769,...,1078986.0,270253,100.0,110.984937,117.026293,107.194618,100.0,98.442570,125.352540,75.455222
17,Hyundai,Hyundai,30000,147585,185743,173028,182415.0,130875,139378,170828,...,553647.0,130875,100.0,125.854931,117.239557,123.599959,100.0,106.497039,130.527603,86.010315
18,Infiniti,Nissan,45000,34315,28743,24876,29774.0,25556,16097,17368,...,59021.0,25556,100.0,83.762203,72.493079,86.766720,100.0,62.987165,67.960557,0.000000
19,Jaguar,TaTa,52000,10222,6060,6150,8573.0,7266,4320,4700,...,16286.0,7266,100.0,59.283897,60.164351,83.868128,100.0,59.454996,64.684833,0.000000
20,Jeep,Fiat Chrysler,30000,212804,243477,245474,221537.0,182667,176713,222211,...,581591.0,182667,100.0,114.413733,115.352155,104.103776,100.0,96.740517,121.648136,0.000000
21,Kia,Kia,30000,136596,168248,158754,151015.0,137945,125302,165013,...,532241.0,137945,100.0,123.171982,116.221558,110.555946,100.0,90.834753,119.622313,75.378593
22,Lamborghini,Audi,300000,2172,2172,2172,NaN,1877,1877,1877,...,NaN,1877,100.0,100.000000,100.000000,NaN,100.0,100.000000,100.000000,NaN
23,Land Rover,TaTa,59000,25028,21095,20516,28097.0,21936,14500,15899,...,52335.0,21936,100.0,84.285600,81.972191,112.262266,100.0,66.101386,72.479030,0.000000
24,Lexus,Toyota,56000,66791,68944,73816,88561.0,56345,50458,75285,...,236819.0,56345,100.0,103.223488,110.517884,132.594212,100.0,89.551868,133.614340,97.135504
25,Lincoln,Ford,52000,24874,25941,27937,33355.0,25562,21280,27555,...,92834.0,25562,100.0,104.289620,112.314063,134.095843,100.0,83.248572,107.796730,72.126594
26,Maserati,Fiat Chrysler,80000,6433,6433,6433,6433.0,3967,3967,3967,...,11901.0,3967,100.0,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,0.000000
27,Mazda,Mazda,25000,70831,67722,69612,70385.0,67670,61199,74411,...,247768.0,67670,100.0,95.610679,98.279002,99.370332,100.0,90.437417,109.961578,65.742574
28,McLaren,McLaren,250000,1102,1102,1102,0.0,299,299,299,...,897.0,299,100.0,100.000000,100.000000,0.000000,100.0,100.000000,100.000000,0.000000
29,Mercedes-Benz,Daimler,58000,78667,80463,89636,103363.0,75265,69505,84628,...,229398.0,75265,100.0,102.283041,113.943585,131.393087,100.0,92.347040,112.440045,0.000000
30,Mini,BMW,28000,8905,8678,10243,8339.0,5236,5288,8974,...,19498.0,5236,100.0,97.450870,115.025267,93.644020,100.0,100.993125,171.390374,0.000000
31,Mitsubishi,Mitsubishi,22000,42070,29030,24474,25475.0,35563,12197,24857,...,72617.0,35563,100.0,69.004041,58.174471,60.553839,100.0,34.296882,69.895678,0.000000
32,Nissan,Nissan,30000,331536,322442,302478,271517.0,232048,161317,221754,...,615119.0,232048,100.0,97.257010,91.235341,81.896687,100.0,69.518806,95.563849,0.000000
33,Porsche,Porsche,73000,15024,15233,14805,16506.0,11984,12193,15548,...,39725.0,11984,100.0,101.391108,98.542332,109.864217,100.0,101.743992,129.739653,0.000000
34,Ram,Fiat Chrysler,34000,137013,196155,179200,190655.0,140486,127682,175174,...,443342.0,140486,100.0,143.165247,130.790509,139.151029,100.0,90.885925,124.691428,0.000000
35,Subaru,Subaru,31000,156754,182771,185804,174788.0,130591,136519,169446,...,548380.0,130591,100.0,116.597344,118.532222,111.504651,100.0,104.539363,129.753199,85.629178
36,Tesla,Tesla,60000,30600,53300,54700,56525.0,52800,36800,139300,...,228900.0,52800,100.0,174.183007,178.758170,184.722222,100.0,69.696970,263.825758,0.000000
37,Toyota,Toyota,34000,476925,539448,553378,515455.0,439402,347571,483164,...,1626520.0,439402,100.0,113.109608,116.030403,108.078838,100.0,79.100914,109.959445,81.106367
38,Volkswagen,VW,30000,85872,98736,93547,85167.0,75065,69933,84514,...,229512.0,75065,100.0,114.980436,108.937721,99.179011,100.0,93.163259,112.587757,0.000000
39,Volvo,Volvo,50000,22058,28062,27305,30802.0,19485,23770,30349,...,95886.0,19485,100.0,127.219150,123.787288,139.640947,100.0,121.991275,155.755710,114.354632

**Interpretation**:

      - In this above code,we can see the percentage contribution of each quarter to the total sales for each brand

In [83]:
# 16 How can you rename the columns Q1 Sales, Q2 Sales, Q3 Sales, and Q4 Sales to Quarter 1, Quarter 2, Quarter 3, and Quarter 4
df.rename(columns = {'Q1 2019':'Quarter 1 2019','Q2 2019':'Quarter 2 2019','Q3 2019':'Quarter 3 2019','Q4 2019':'Quarter 4 2019',
                     'Q1 2020':'Quarter 1 2020','Q2 2020':'Quarter 2 2020','Q3 2020':'Quarter 3 2020','Q4 2020':'Quarter 4 2020'},inplace = True)
print(df)

            Brand      Autogroup  Avg Price  Quarter 1 2019  Quarter 2 2019  \
0           Acura          Honda      40000           36385           37382
1      Alfa Romeo  Fiat Chrysler      50000            4286            4751
2            Audi           Audi      59017           48115           53325
3         Bentley             VW     211000            2385            2385
4             BMW            BMW      69000           73888           82551
5         Bugatti             VW    2400000              21              21
6           Buick             GM      33000           51865           55373
7        Cadillac             GM      54000           35996           39739
8       Chevrolet             GM      33000          451742          486884
9        Chrysler  Fiat Chrysler      32000           31591           32831
10          Dodge  Fiat Chrysler      29000          110517          117582
11        Ferrari        Ferrari     300000            2585            2585
12           Fiat  Fiat Chrysler      26000            2214            2889
13           Ford           Ford      32000          557884          613098
14        Genesis        Hyundai      49000            4203            5805
15            GMC             GM      35000          125579          151701
16          Honda          Honda      28000          333402          370026
17        Hyundai        Hyundai      30000          147585          185743
18       Infiniti         Nissan      45000           34315           28743
19         Jaguar           TaTa      52000           10222            6060
20           Jeep  Fiat Chrysler      30000          212804          243477
21            Kia            Kia      30000          136596          168248
22    Lamborghini           Audi     300000            2172            2172
23     Land Rover           TaTa      59000           25028           21095
24          Lexus         Toyota      56000           66791           68944
25        Lincoln           Ford      52000           24874           25941
26       Maserati  Fiat Chrysler      80000            6433            6433
27          Mazda          Mazda      25000           70831           67722
28        McLaren        McLaren     250000            1102            1102
29  Mercedes-Benz        Daimler      58000           78667           80463
30           Mini            BMW      28000            8905            8678
31     Mitsubishi     Mitsubishi      22000           42070           29030
32         Nissan         Nissan      30000          331536          322442
33        Porsche        Porsche      73000           15024           15233
34            Ram  Fiat Chrysler      34000          137013          196155
35         Subaru         Subaru      31000          156754          182771
36          Tesla          Tesla      60000           30600           53300
37         Toyota         Toyota      34000          476925          539448
38     Volkswagen             VW      30000           85872           98736
39          Volvo          Volvo      50000           22058           28062

    Quarter 3 2019  Quarter 4 2019  Quarter 1 2020  Quarter 2 2020  \
0            39046         44572.0           28531           27458
1             4310          4947.0            3702            3735
2            57031         65640.0           41371           34839
3             2385             0.0            2499            2499
4            75987         92399.0           62152           50956
5               21             NaN              19              19
6            50614         49074.0           33870           35521
7            39962         40553.0           30323           23297
8           505913        497500.0          429529          330381
9            29544         33006.0           29945           13857
10          104146         90643.0           88656           43756
11            2585             NaN            2147            2147
12            2361          1740.0            1128            1339
13          548070        565373.0          489051          411035
14            4902          6327.0            3955            3585
15          140790        146880.0          118718          101759
16          390168        357389.0          270253          266044
17          173028        182415.0          130875          139378
18           24876         29774.0           25556           16097
19            6150          8573.0            7266            4320
20          245474        221537.0          182667          176713
21          158754        151015.0          137945          125302
22            2172             NaN            1877            1877
23           20516         28097.0           21936           14500
24           73816         88561.0           56345           50458
25           27937         33355.0           25562           21280
26            6433          6433.0            3967            3967
27           69612         70385.0           67670           61199
28            1102             0.0             299             299
29           89636        103363.0           75265           69505
30           10243          8339.0            5236            5288
31           24474         25475.0           35563           12197
32          302478        271517.0          232048          161317
33           14805         16506.0           11984           12193
34          179200        190655.0          140486          127682
35          185804        174788.0          130591          136519
36           54700         56525.0           52800           36800
37          553378        515455.0          439402          347571
38           93547         85167.0           75065           69933
39           27305         30802.0           19485           23770

    Quarter 3 2020  ...       2020  Total Sales  \
0            39664  ...   121334.0        28531
1             5056  ...    12493.0         3702
2            47896  ...   124106.0        41371
3             2499  ...     7497.0         2499
4            68439  ...   181547.0        62152
5               19  ...        NaN           19
6            49170  ...   118561.0        33870
7            32966  ...    86586.0        30323
8           449134  ...  1209044.0       429529
9            31869  ...    75671.0        29945
10           71935  ...   204347.0        88656
11            2147  ...        NaN         2147
12            1102  ...     3569.0         1128
13          521530  ...  1733815.0       489051
14            3745  ...    13274.0         3955
15          132746  ...   353223.0       118718
16          338769  ...  1078986.0       270253
17          170828  ...   553647.0       130875
18           17368  ...    59021.0        25556
19            4700  ...    16286.0         7266
20          222211  ...   581591.0       182667
21          165013  ...   532241.0       137945
22            1877  ...        NaN         1877
23           15899  ...    52335.0        21936
24           75285  ...   236819.0        56345
25           27555  ...    92834.0        25562
26            3967  ...    11901.0         3967
27           74411  ...   247768.0        67670
28             299  ...      897.0          299
29           84628  ...   229398.0        75265
30            8974  ...    19498.0         5236
31           24857  ...    72617.0        35563
32          221754  ...   615119.0       232048
33           15548  ...    39725.0        11984
34          175174  ...   443342.0       140486
35          169446  ...   548380.0       130591
36          139300  ...   228900.0        52800
37          483164  ...  1626520.0       439402
38           84514  ...   229512.0        75065
39           30349  ...    95886.0        19485

    Q1 percentage contribution 2019  Q2 percentage contribution 2019  \
0                             100.0                       102.740140
1                             100.0                       110.849277
2                             100.0                       110.828224
3                             100.0                       100.000000
4                             100.0                       111.724502
5                             100.0                       100.000000
6                             100.0                       106.763713
7                             100.0                       110.398378
8                             100.0                       107.779219
9                             100.0                       103.925169
10                            100.0                       106.392682
11                            100.0                       100.000000
12                            100.0                       130.487805
13                            100.0                       109.897040
14                            100.0                       138.115632
15                            100.0                       120.801249
16                            100.0                       110.984937
17                            100.0                       125.854931
18                            100.0                        83.762203
19                            100.0                        59.283897
20                            100.0                       114.413733
21                            100.0                       123.171982
22                            100.0                       100.000000
23                            100.0                        84.285600
24                            100.0                       103.223488
25                            100.0                       104.289620
26                            100.0                       100.000000
27                            100.0                        95.610679
28                            100.0                       100.000000
29                            100.0                       102.283041
30                            100.0                        97.450870
31                            100.0                        69.004041
32                            100.0                        97.257010
33                            100.0                       101.391108
34                            100.0                       143.165247
35                            100.0                       116.597344
36                            100.0                       174.183007
37                            100.0                       113.109608
38                            100.0                       114.980436
39                            100.0                       127.219150

    Q3 percentage contribution 2019  Q4 percentage contribution 2019  \
0                        107.313453                       122.501031
1                        100.559963                       115.422305
2                        118.530604                       136.423153
3                        100.000000                         0.000000
4                        102.840786                       125.052783
5                        100.000000                              NaN
6                         97.587969                        94.618722
7                        111.017891                       112.659740
8                        111.991579                       110.129233
9                         93.520306                       104.479124
10                        94.235276                        82.017246
11                       100.000000                              NaN
12                       106.639566                        78.590786
13                        98.240853                       101.342394
14                       116.630978                       150.535332
15                       112.112694                       116.962231
16                       117.026293                       107.194618
17                       117.239557                       123.599959
18                        72.493079                        86.766720
19                        60.164351                        83.868128
20                       115.352155                       104.103776
21                       116.221558                       110.555946
22                       100.000000                              NaN
23                        81.972191                       112.262266
24                       110.517884                       132.594212
25                       112.314063                       134.095843
26                       100.000000                       100.000000
27                        98.279002                        99.370332
28                       100.000000                         0.000000
29                       113.943585                       131.393087
30                       115.025267                        93.644020
31                        58.174471                        60.553839
32                        91.235341                        81.896687
33                        98.542332                       109.864217
34                       130.790509                       139.151029
35                       118.532222                       111.504651
36                       178.758170                       184.722222
37                       116.030403                       108.078838
38                       108.937721                        99.179011
39                       123.787288                       139.640947

    Q1 percentage contribution 2020  Q2 percentage contribution 2020  \
0                             100.0                        96.239178
1                             100.0                       100.891410
2                             100.0                        84.211162
3                             100.0                       100.000000
4                             100.0                        81.986099
5                             100.0                       100.000000
6                             100.0                       104.874520
7                             100.0                        76.829469
8                             100.0                        76.917042
9                             100.0                        46.274837
10                            100.0                        49.354810
11                            100.0                       100.000000
12                            100.0                       118.705674
13                            100.0                        84.047472
14                            100.0                        90.644753
15                            100.0                        85.714887
16                            100.0                        98.442570
17                            100.0                       106.497039
18                            100.0                        62.987165
19                            100.0                        59.454996
20                            100.0                        96.740517
21                            100.0                        90.834753
22                            100.0                       100.000000
23                            100.0                        66.101386
24                            100.0                        89.551868
25                            100.0                        83.248572
26                            100.0                       100.000000
27                            100.0                        90.437417
28                            100.0                       100.000000
29                            100.0                        92.347040
30                            100.0                       100.993125
31                            100.0                        34.296882
32                            100.0                        69.518806
33                            100.0                       101.743992
34                            100.0                        90.885925
35                            100.0                       104.539363
36                            100.0                        69.696970
37                            100.0                        79.100914
38                            100.0                        93.163259
39                            100.0                       121.991275

    Q3 percentage contribution 2020  Q4 percentage contribution 2020
0                        139.020714                        90.010865
1                        136.574824                         0.000000
2                        115.771918                         0.000000
3                        100.000000                         0.000000
4                        110.115523                         0.000000
5                        100.000000                              NaN
6                        145.172719                         0.000000
7                        108.716156                         0.000000
8                        104.564302                         0.000000
9                        106.425113                         0.000000
10                        81.139460                         0.000000
11                       100.000000                              NaN
12                        97.695035                         0.000000
13                       106.641230                        63.837718
14                        94.690265                        50.290771
15                       111.816237                         0.000000
16                       125.352540                        75.455222
17                       130.527603                        86.010315
18                        67.960557                         0.000000
19                        64.684833                         0.000000
20                       121.648136                         0.000000
21                       119.622313                        75.378593
22                       100.000000                              NaN
23                        72.479030                         0.000000
24                       133.614340                        97.135504
25                       107.796730                        72.126594
26                       100.000000                         0.000000
27                       109.961578                        65.742574
28                       100.000000                         0.000000
29                       112.440045                         0.000000
30                       171.390374                         0.000000
31                        69.895678                         0.000000
32                        95.563849                         0.000000
33                       129.739653                         0.000000
34                       124.691428                         0.000000
35                       129.753199                        85.629178
36                       263.825758                         0.000000
37                       109.959445                        81.106367
38                       112.587757                         0.000000
39                       155.755710                       114.354632

[40 rows x 22 columns]

**Interpretation**:

      In the above code, we can see the renamed column as Q1 2019 to Quarter 1 ,Q2 2019 to Quarter 2, ,Q3 2019 to Quarter 3,Q4 2019 to Quarter 4,
      as well as Q1 2020 to Quarter 1 2020, Q2 2020 to Quarter 2 20200, Q3 2020 to Quarter 3 2020, Q4 2020 to Quarter 4 2020.

In [119]:
# 17 How can you fill any missing sales data with the average sales of that quarter
average_sales = df.groupby('Brand')['Q1 2019'].agg('mean')
df['Sales'] = df['Q1 2019'].fillna(average_sales)
df.drop(columns = 'Q1 2019',inplace = True)
print(df)

            Brand      Autogroup  Avg Price  Q2 2019  Q3 2019   Q4 2019  \
0           Acura          Honda      40000    37382    39046   44572.0
1      Alfa Romeo  Fiat Chrysler      50000     4751     4310    4947.0
2            Audi           Audi      59017    53325    57031   65640.0
3         Bentley             VW     211000     2385     2385       0.0
4             BMW            BMW      69000    82551    75987   92399.0
5         Bugatti             VW    2400000       21       21       NaN
6           Buick             GM      33000    55373    50614   49074.0
7        Cadillac             GM      54000    39739    39962   40553.0
8       Chevrolet             GM      33000   486884   505913  497500.0
9        Chrysler  Fiat Chrysler      32000    32831    29544   33006.0
10          Dodge  Fiat Chrysler      29000   117582   104146   90643.0
11        Ferrari        Ferrari     300000     2585     2585       NaN
12           Fiat  Fiat Chrysler      26000     2889     2361    1740.0
13           Ford           Ford      32000   613098   548070  565373.0
14        Genesis        Hyundai      49000     5805     4902    6327.0
15            GMC             GM      35000   151701   140790  146880.0
16          Honda          Honda      28000   370026   390168  357389.0
17        Hyundai        Hyundai      30000   185743   173028  182415.0
18       Infiniti         Nissan      45000    28743    24876   29774.0
19         Jaguar           TaTa      52000     6060     6150    8573.0
20           Jeep  Fiat Chrysler      30000   243477   245474  221537.0
21            Kia            Kia      30000   168248   158754  151015.0
22    Lamborghini           Audi     300000     2172     2172       NaN
23     Land Rover           TaTa      59000    21095    20516   28097.0
24          Lexus         Toyota      56000    68944    73816   88561.0
25        Lincoln           Ford      52000    25941    27937   33355.0
26       Maserati  Fiat Chrysler      80000     6433     6433    6433.0
27          Mazda          Mazda      25000    67722    69612   70385.0
28        McLaren        McLaren     250000     1102     1102       0.0
29  Mercedes-Benz        Daimler      58000    80463    89636  103363.0
30           Mini            BMW      28000     8678    10243    8339.0
31     Mitsubishi     Mitsubishi      22000    29030    24474   25475.0
32         Nissan         Nissan      30000   322442   302478  271517.0
33        Porsche        Porsche      73000    15233    14805   16506.0
34            Ram  Fiat Chrysler      34000   196155   179200  190655.0
35         Subaru         Subaru      31000   182771   185804  174788.0
36          Tesla          Tesla      60000    53300    54700   56525.0
37         Toyota         Toyota      34000   539448   553378  515455.0
38     Volkswagen             VW      30000    98736    93547   85167.0
39          Volvo          Volvo      50000    28062    27305   30802.0

    Q1 2020  Q2 2020  Q3 2020   Q4 2020   Sales
0     28531    27458    39664   25681.0   36385
1      3702     3735     5056       0.0    4286
2     41371    34839    47896       0.0   48115
3      2499     2499     2499       0.0    2385
4     62152    50956    68439       0.0   73888
5        19       19       19       NaN      21
6     33870    35521    49170       0.0   51865
7     30323    23297    32966       0.0   35996
8    429529   330381   449134       0.0  451742
9     29945    13857    31869       0.0   31591
10    88656    43756    71935       0.0  110517
11     2147     2147     2147       NaN    2585
12     1128     1339     1102       0.0    2214
13   489051   411035   521530  312199.0  557884
14     3955     3585     3745    1989.0    4203
15   118718   101759   132746       0.0  125579
16   270253   266044   338769  203920.0  333402
17   130875   139378   170828  112566.0  147585
18    25556    16097    17368       0.0   34315
19     7266     4320     4700       0.0   10222
20   182667   176713   222211       0.0  212804
21   137945   125302   165013  103981.0  136596
22     1877     1877     1877       NaN    2172
23    21936    14500    15899       0.0   25028
24    56345    50458    75285   54731.0   66791
25    25562    21280    27555   18437.0   24874
26     3967     3967     3967       0.0    6433
27    67670    61199    74411   44488.0   70831
28      299      299      299       0.0    1102
29    75265    69505    84628       0.0   78667
30     5236     5288     8974       0.0    8905
31    35563    12197    24857       0.0   42070
32   232048   161317   221754       0.0  331536
33    11984    12193    15548       0.0   15024
34   140486   127682   175174       0.0  137013
35   130591   136519   169446  111824.0  156754
36    52800    36800   139300       0.0   30600
37   439402   347571   483164  356383.0  476925
38    75065    69933    84514       0.0   85872
39    19485    23770    30349   22282.0   22058

**Interpretation**

      - In this above code, we can see the missing sales data with the average sales of that quarter

In [133]:
# 18 How can you calculate the year-over-year sales growth for each brand
df[2019] = df['Q1 2019']+df['Q2 2019']+df['Q3 2019']+df['Q4 2019']
df[2020] = df['Q1 2020']+df['Q2 2020']+df['Q3 2020']+df['Q4 2020']
df['yoy growth percentage'] = df.groupby('Brand')['Q1 2019'].pct_change()*100
print(df)

            Brand      Autogroup  Avg Price  Q1 2019  Q2 2019  Q3 2019  \
0           Acura          Honda      40000    36385    37382    39046
1      Alfa Romeo  Fiat Chrysler      50000     4286     4751     4310
2            Audi           Audi      59017    48115    53325    57031
3         Bentley             VW     211000     2385     2385     2385
4             BMW            BMW      69000    73888    82551    75987
5         Bugatti             VW    2400000       21       21       21
6           Buick             GM      33000    51865    55373    50614
7        Cadillac             GM      54000    35996    39739    39962
8       Chevrolet             GM      33000   451742   486884   505913
9        Chrysler  Fiat Chrysler      32000    31591    32831    29544
10          Dodge  Fiat Chrysler      29000   110517   117582   104146
11        Ferrari        Ferrari     300000     2585     2585     2585
12           Fiat  Fiat Chrysler      26000     2214     2889     2361
13           Ford           Ford      32000   557884   613098   548070
14        Genesis        Hyundai      49000     4203     5805     4902
15            GMC             GM      35000   125579   151701   140790
16          Honda          Honda      28000   333402   370026   390168
17        Hyundai        Hyundai      30000   147585   185743   173028
18       Infiniti         Nissan      45000    34315    28743    24876
19         Jaguar           TaTa      52000    10222     6060     6150
20           Jeep  Fiat Chrysler      30000   212804   243477   245474
21            Kia            Kia      30000   136596   168248   158754
22    Lamborghini           Audi     300000     2172     2172     2172
23     Land Rover           TaTa      59000    25028    21095    20516
24          Lexus         Toyota      56000    66791    68944    73816
25        Lincoln           Ford      52000    24874    25941    27937
26       Maserati  Fiat Chrysler      80000     6433     6433     6433
27          Mazda          Mazda      25000    70831    67722    69612
28        McLaren        McLaren     250000     1102     1102     1102
29  Mercedes-Benz        Daimler      58000    78667    80463    89636
30           Mini            BMW      28000     8905     8678    10243
31     Mitsubishi     Mitsubishi      22000    42070    29030    24474
32         Nissan         Nissan      30000   331536   322442   302478
33        Porsche        Porsche      73000    15024    15233    14805
34            Ram  Fiat Chrysler      34000   137013   196155   179200
35         Subaru         Subaru      31000   156754   182771   185804
36          Tesla          Tesla      60000    30600    53300    54700
37         Toyota         Toyota      34000   476925   539448   553378
38     Volkswagen             VW      30000    85872    98736    93547
39          Volvo          Volvo      50000    22058    28062    27305

     Q4 2019  Q1 2020  Q2 2020  Q3 2020   Q4 2020       2019       2020  \
0    44572.0    28531    27458    39664   25681.0   157385.0   121334.0
1     4947.0     3702     3735     5056       0.0    18294.0    12493.0
2    65640.0    41371    34839    47896       0.0   224111.0   124106.0
3        0.0     2499     2499     2499       0.0     7155.0     7497.0
4    92399.0    62152    50956    68439       0.0   324825.0   181547.0
5        NaN       19       19       19       NaN        NaN        NaN
6    49074.0    33870    35521    49170       0.0   206926.0   118561.0
7    40553.0    30323    23297    32966       0.0   156250.0    86586.0
8   497500.0   429529   330381   449134       0.0  1942039.0  1209044.0
9    33006.0    29945    13857    31869       0.0   126972.0    75671.0
10   90643.0    88656    43756    71935       0.0   422888.0   204347.0
11       NaN     2147     2147     2147       NaN        NaN        NaN
12    1740.0     1128     1339     1102       0.0     9204.0     3569.0
13  565373.0   489051   411035   521530  312199.0  2284425.0  1733815.0
14    6327.0     3955     3585     3745    1989.0    21237.0    13274.0
15  146880.0   118718   101759   132746       0.0   564950.0   353223.0
16  357389.0   270253   266044   338769  203920.0  1450985.0  1078986.0
17  182415.0   130875   139378   170828  112566.0   688771.0   553647.0
18   29774.0    25556    16097    17368       0.0   117708.0    59021.0
19    8573.0     7266     4320     4700       0.0    31005.0    16286.0
20  221537.0   182667   176713   222211       0.0   923292.0   581591.0
21  151015.0   137945   125302   165013  103981.0   614613.0   532241.0
22       NaN     1877     1877     1877       NaN        NaN        NaN
23   28097.0    21936    14500    15899       0.0    94736.0    52335.0
24   88561.0    56345    50458    75285   54731.0   298112.0   236819.0
25   33355.0    25562    21280    27555   18437.0   112107.0    92834.0
26    6433.0     3967     3967     3967       0.0    25732.0    11901.0
27   70385.0    67670    61199    74411   44488.0   278550.0   247768.0
28       0.0      299      299      299       0.0     3306.0      897.0
29  103363.0    75265    69505    84628       0.0   352129.0   229398.0
30    8339.0     5236     5288     8974       0.0    36165.0    19498.0
31   25475.0    35563    12197    24857       0.0   121049.0    72617.0
32  271517.0   232048   161317   221754       0.0  1227973.0   615119.0
33   16506.0    11984    12193    15548       0.0    61568.0    39725.0
34  190655.0   140486   127682   175174       0.0   703023.0   443342.0
35  174788.0   130591   136519   169446  111824.0   700117.0   548380.0
36   56525.0    52800    36800   139300       0.0   195125.0   228900.0
37  515455.0   439402   347571   483164  356383.0  2085206.0  1626520.0
38   85167.0    75065    69933    84514       0.0   363322.0   229512.0
39   30802.0    19485    23770    30349   22282.0   108227.0    95886.0

    yoy growth percentage
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    NaN
23                    NaN
24                    NaN
25                    NaN
26                    NaN
27                    NaN
28                    NaN
29                    NaN
30                    NaN
31                    NaN
32                    NaN
33                    NaN
34                    NaN
35                    NaN
36                    NaN
37                    NaN
38                    NaN
39                    NaN

**Interpretation**

            In this above code, we can see the year-over-year sales growth for each brand

In [135]:
# 19 How can you filter the DataFrame to show only the top 5 brands by total sales
a = df.groupby('Brand')['Q1 2019'].agg('sum')
b = a.sort_values(ascending = False).to_frame()
top_5_brand = b.head(5)
print(top_5_brand)

           Q1 2019
Brand
Ford        557884
Toyota      476925
Chevrolet   451742
Honda       333402
Nissan      331536

**Interpretation**

        In this above code ,we can see the filtered dataframe showing the top 5 brands by total sales

In [154]:
# 20 How can you check for any duplicate rows in the DataFrame
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [Brand, Autogroup, Avg Price, Q1 2019, Q2 2019, Q3 2019, Q4 2019, Q1 2020, Q2 2020, Q3 2020, Q4 2020, 2019, 2020, yoy growth percentage]
Index: []

**Interpretation**

        In this above code, we can check for any duplicate rows in the dataframe

In [156]:
# 21 How can you drop rows where any sales data is missing
df_cleaned = df.dropna()
print(df_cleaned)

Empty DataFrame
Columns: [Brand, Autogroup, Avg Price, Q1 2019, Q2 2019, Q3 2019, Q4 2019, Q1 2020, Q2 2020, Q3 2020, Q4 2020, 2019, 2020, yoy growth percentage]
Index: []

In [ ]:
**Interpretation**

        In this code, we can filter the rows of the dataset where any sales data is missing by using the drop method